Source: rivendell-metalive
Section: sound
Priority: extra
Maintainer: Alban Peignier <alban@tryphon.eu>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://projects.tryphon.eu/projects/rivendell-metalive
#Vcs-Git: git://projects.tryphon.eu/rivendell-metalive
#Vcs-Browser: http://projects.tryphon.eu/projects/rivendell-metalive/repository

Package: rivendell-metalive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rivendell Loadable Module for metalive
 It sends Now&Next PAD to the metalive stream specified by the plugin argument.
